body {
  display: flex;
  justify-content: center;
  align-items: center;

  max-height: 100%;

  margin: 0;

  background-color: #303446;
  overflow-x: hidden;
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  max-width: 100%;
  max-height: 100%;

  border: 0px solid #51576d;
  border-radius: 10px;
  color: #c6d0f5;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}

.vertical > .header {
  text-align: center;
  text-anchor: middle;
  text-wrap: pretty;
  text-align-last: center;

  font-family: "Roboto", sans-serif;
  font-size: 300%;
  font-weight: bold;
  font-style: normal;

  margin-top: 5%;
  margin-bottom: 50%;
  padding: 2%;
  max-width: 80%;
  
  color: #c6d0f5;
  background-color: #232634;
  border: 2px solid #636684;
  border-radius: 10px;
}

.vertical > .text {
  text-align: left;
  text-shadow: #232634;
  text-wrap: pretty;
  text-align-last: left;

  font-family: "Roboto", sans-serif;
  font-size: 200%;
  font-weight: light;
  font-style: normal;

  margin-bottom: 10%;
  padding: 2%;
  max-width: 85%;

  color: #c6d0f5;
  background-color: #251f2f;
  border: 1px solid #553f5f;
  border-radius: 10px;
}

.vertical > .donation {
  text-align: center;
  text-shadow: #232634;
  text-wrap: pretty;
  text-align-last: center;

  font-family: "Libre Franklin", sans-serif;
  font-size: 150%;
  font-weight: normal;
  font-style: normal;

  margin-bottom: 3%;
  padding: 2%;
  max-width: 85%;

  color: #c6d0f5;
  background-color: #453f4f;
  border: 1px solid #755f7f;
  border-radius: 10px;
}

.vertical > .signature {
  text-align: right;
  text-shadow: #232634;
  text-wrap: pretty;
  text-align-last: right;

  font-family: "Libre Franklin", sans-serif;
  font-size: 150%;
  font-weight: normal;
  font-style: normal;

  margin-top: 10%;
  margin-bottom: 5%;
  padding: 3%;
  max-width: 85%;

  color: #c6d0f5;
  background-color: #353f4f;
  border: 1px solid #455f8f;
  border-radius: 10px;
}