/*

nyanza: #E7FEE6ff;
light-green: #74DA7Dff;
pigment-green: #349C35ff;
forest-green: #399635ff;
coral-pink: #FF8A83ff;
sandy-brown: #FFB166ff;
picton-blue: #01AEFFff;
goldenrod: #D7A401ff;

*/

body {
  display: flex;
  justify-content: center;
  align-items: center;

  max-height: 100%;

  margin: 0;

  background-color: rgba(100,150,100);
  overflow-x: hidden;
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  max-width: 100%;
  max-height: 100%;

  border-radius: 10px;
  overflow: hidden;
}

.vertical > .header {
  text-align: center;
  text-anchor: middle;
  text-wrap: pretty;
  text-align-last: center;

  font-family: "Roboto", sans-serif;
  font-size: 300%;
  font-weight: bold;
  font-style: normal;

  margin-top: 5%;
  margin-bottom: 50%;
  padding: 2%;
  max-width: 80%;
  
  color: #E7FEE6ff;
  background-color: #399635ff;
  border: 2px solid #E7FEE6ff;
  border-radius: 10px;

  opacity: 0
}

.vertical > .text {
  text-align: left;
  text-shadow: #232634;
  text-wrap: pretty;
  text-align-last: left;

  font-family: "Roboto", sans-serif;
  font-size: 200%;
  font-weight: light;
  font-style: normal;

  margin-bottom: 5%;
  padding: 2%;
  max-width: 85%;

  color: #E7FEE6ff;
  background-color: #399635ff;
  border: 1px solid #E7FEE6ff;
  border-radius: 10px;

  opacity: 0
}

.vertical > .donation {
  text-align: center;
  text-shadow: #232634;
  text-wrap: pretty;
  text-align-last: center;

  font-family: "Libre Franklin", sans-serif;
  font-size: 150%;
  font-weight: normal;
  font-style: normal;

  margin-bottom: 30%;
  padding: 2%;
  max-width: 85%;

  color: #E7FEE6ff;
  background: radial-gradient(circle, rgba(29,154,42,1) 0%, rgba(29,106,50,1) 100%);
  border: 1px solid rgb(177, 255, 158);
  border-radius: 10px;

  opacity: 0
}

.vertical > .signature {
  text-align: right;
  text-shadow: #232634;
  text-wrap: pretty;
  text-align-last: right;

  font-family: "Libre Franklin", sans-serif;
  font-size: 150%;
  font-weight: normal;
  font-style: normal;

  margin-top: 2%;
  margin-bottom: 10%;
  padding: 3%;
  max-width: 85%;

  color: rgb(200, 255, 150);
  background: radial-gradient(circle, rgba(60,160,53,1) 0%, rgba(67,184,68,1) 100%);
  border: 1px solid rgb(255, 215, 86);
  border-radius: 10px;

  opacity: 0
}

#tree {
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}